* {
    font-family: sans-serif;
    background-color: darkslateblue;
    color: white;
}

#mainrow {
    min-height: 100vh;
}

#header {
    padding-top: 1em;
}

#showhelp {
    float: left;
}

#icon {
    float: right;
}

#mainfield {
    text-align: center;
    border: 2px solid green;
}