@font-face {
  font-family: BigNoodleTiling;
  src: url("../fonts/big_noodle_titling.ttf");
}
@font-face {
  font-family: KGHAPPY;
  src: url("../fonts/KGHAPPY.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

/* CSS code still needs to be formatted better --> 12.10.2021 */

* {
  font-family: sans-serif;
  font-family: Roboto-Thin;
  background-color: #4a47a3;
  color: white;
}

.main-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


ul li {
  text-decoration: none;
  list-style-type: none;
}

.createpoll a {
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  text-decoration: none;
  margin-top: 1em;
  margin-right: 1em;
  padding: 6px 10px;
  background: #FEC260;
  transition: 0.3s;
  border-radius: 50px;
}

.createpoll a:hover {
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  text-decoration: none;
  margin-top: 1em;
  margin-right: 1em;
  padding: 6px 10px;
  background: #eba12a;
  transition: 0.3s;
  border-radius: 50px;
}

.icon {
  width: 128px;
  height: 128px;
}

.main h1 {
  color: rgb(255, 255, 255);
  margin: 15px 0 15px 0;
  font-size: 48px;
  line-height: 56px;
}

/* .main h2 {
  color: rgb(202, 202, 202);
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
} */

 /* .main h2 a {
  color: #FEC260;
  text-decoration: none;
} */

.main h2 {
  color: rgb(202, 202, 202);
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}

.main h2 a {
  color: #FEC260;
  text-decoration: none;
}


.main-code form {
  background: rgb(255, 255, 255);
  margin: 15px 0 15px 0;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.main-code form input[type="number"] {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  background: rgb(255, 255, 255);
  border: 0;
}

.main-code form input[type="submit"] {
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  padding: 6px 10px;
  background: #fec260;
  transition: 0.3s;
  border-radius: 50px;
}

.main-code form input[type="submit"]:hover {
  background: #eba12a;
}

footer {
  color: white;
  font-family: BigNoodleTiling; /* thought that there should be another font */
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0.5em;
}
