@font-face {
  font-family: BigNoodleTiling;
  src: url("../fonts/big_noodle_titling.ttf");
}
@font-face {
  font-family: KGHAPPY;
  src: url("../fonts/KGHAPPY.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

/* CSS code still needs to be formatted better */

* {
  font-family: Roboto-Thin, sans-serif;
  background-color: #4a47a3;
  color: white;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

.icon {
  width: 128px;
  height: 128px;
}

.x-icon {
  width: 64px;
  height: 64px;
}

.notification {
  min-height: 100vh;
}
  .notification-header {
    min-height: 10%;
  }
  .notification-body {
    position: absolute;
    bottom: 128px;
    top: 128px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }


.main {
  min-height: 100vh;
}
  .main-header {
    min-height: 10%;
  }
    .createsurvey ul li a {
      color: #a12568;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      text-decoration: none;
      margin-top: 1em;
      margin-right: 1em;
      padding: 6px 10px;
      background: #FEC260;
      transition: 0.3s;
      border-radius: 50px;
    }
      .createsurvey ul li a:hover {
        color: #a12568;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        text-decoration: none;
        margin-top: 1em;
        margin-right: 1em;
        padding: 6px 10px;
        background: #eba12a;
        transition: 0.3s;
        border-radius: 50px;
      }
  .main-body {
    position: absolute;
    bottom: 128px;
    top: 128px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
    .welcomemsg h1 {
      color: rgb(255, 255, 255);
      margin: 15px 0 15px 0;
      font-size: 48px;
      line-height: 56px;
    }
    .main-form {
      background: rgb(255, 255, 255);
      margin: 15px 0 15px 0;
      padding: 6px 10px;
      position: relative;
      border-radius: 50px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      text-align: left;
    }
      .main-form input[type="number"] {
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        font-weight: bold;
        background: rgb(255, 255, 255);
        border: 0;
      }
      .main-form input[type="submit"] {
        color: #a12568;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        border: 0;
        background: none;
        padding: 6px 10px;
        background: #FEC260;
        transition: 0.3s;
        border-radius: 50px;
      }
        .main-form input[type="submit"]:hover {
          background: #eba12a;
        }
    .whatsfeedo h2 {
      color: rgb(202, 202, 202);
      font-size: 14px;
      font-weight: bold;
      margin: 15px 0 15px 0;
      text-transform: uppercase;
    }
      .whatsfeedo h2 a {
        color: #FEC260;
        text-decoration: none;
      }

.create {
  min-height: 100vh;
}
  .create-header {
    min-height: 10%;
  }
    .icon-create {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .create-body {
    text-align: center;
    position: relative;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .typequestionmsg h1 {
      color: rgb(255, 255, 255);
      margin: 15px 0 15px 0;
      font-size: 48px;
      line-height: 56px;
    }
    .question-box {
      color:white;
      font-weight:500;
      font-size: 18px;
      border-radius: 25px;
      line-height: 22px;
      background: #323064;
      border:2px solid #FEC260;
      transition: all 0.3s;
      padding: 13px;
      margin-bottom: 0.5em;
      width: 100%;
      box-sizing: border-box;
      outline: 0;
      size: 70;
    }
      .question-box:focus {
        border:2px solid #FEC260; 
      }
      .question-box::placeholder {
        color: #FEC260;
      }
    .addquestion {
        color: #a12568;
        font-size: 24px;
        font-weight: bold;
        background: none;
        text-decoration: none;
        float: left;
        width: 100px;
        padding: 6px 10px;
        background: #FEC260;
        height: 48px;
        border-radius: 50px;
        border: 0;
    }
      .addquestion:hover {
        color: #a12568;
        font-size: 24px;
        font-weight: bold;
        background: none;
        text-decoration: none;
        float: left;
        width: 100px;
        padding: 6px 10px;
        background: #eba12a;
        height: 48px;
        border-radius: 50px;
        border: 0;
      }
    .createsurvey2 {
      color: #a12568;
      font-size: 16px;
      font-weight: bold;
      background: none;
      text-decoration: none;
      float: right;
      padding: 6px 10px;
      background: #FEC260;
      height: 48px;
      border-radius: 50px;
      border: 0;
    }
      .createsurvey2:hover {
        color: #a12568;
        font-size: 16px;
        font-weight: bold;
        background: none;
        text-decoration: none;
        float: right;
        padding: 6px 10px;
        background: #eba12a;
        height: 48px;
        border-radius: 50px;
        border: 0;
      }

.help {
  min-height: 100%;
}

.help-header{
  min-height: 10%;
}
  .icon-help {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .backtomain a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    margin-top: 1em;
    margin-right: 1em;
    text-decoration: none;
  }

.help-body {
  text-align: center;
  position: absolute;
  bottom: 128px;
  left: 0;
  top: 128px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .help-text h1{
    font-size: 36px;
    font-weight: bold;
  }
  .help-text h2 {
    font-size: 30px;
  }
  .help-text h3 {
    font-size: 12px;
  }


.answer {
  min-height: 100%;
}

.answer-header {
  height: 10%;
}
  .seeresult {
    color: #a12568;
    font-size: 16px;
    font-weight: bold;
    background: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-left: 1em;
    padding: 6px 10px;
    background: #FEC260;
    transition: 0.3s;
    border-radius: 50px;
    border: 0;
  }
  .icon-answer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.answer-body {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .answer-heading h1 {
    font-size: 36px;
    font-weight: bold;
  }
  .valuation {
    margin: 0;
    padding: 0;
    transform: rotateY(180deg);
  }
    .valuation input{
      display: none;
    }
    
    .valuation label {
      display: inline-block;
      cursor: pointer;
      width: 50px;
    }
      .valuation label:before {
        content: '\f005';
        font-family: fontAwesome !important;
        position: relative;
        display: inline-block;
        font-size: 50px;
        color: #323064;
      }
      .valuation label:after {
        content: '\f005';
        font-family: fontAwesome !important;
        position: absolute;
        top: 0;
        display: block;
        font-size: 50px;
        color: #FEC260;
        opacity: 0;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5)
      }
      .valuation label:hover:after,
      .valuation label:hover ~ label:after,
      .valuation input:checked ~ label:after {
        opacity: 1;
      }

  .answer-submit {
    color: #a12568;
    font-size: 16px;
    font-weight: bold;
    background: none;
    text-decoration: none;
    margin-bottom: 2.5em;
    padding: 6px 10px;
    background: #FEC260;
    border: 0;
    border-radius: 50px;
  }
    .answer-submit:hover {
      color: #a12568;
      font-size: 16px;
      font-weight: bold;
      background: none;
      text-decoration: none;
      padding: 6px 10px;
      background: #EBA12A;
      border: 0;
      border-radius: 50px;
    }

.result {
  min-height: 100%;
}
  .result-header {
    height: 10%;
  }
    .icon-result {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .result-body {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .result-heading h1 {
      color: rgb(255, 255, 255);
      margin: 15px 0 15px 0;
      font-size: 48px;
      line-height: 56px;
    }
    .result-heading h2 {
      color: rgb(202, 202, 202);
      font-size: 18px;
      font-weight: bold;
      margin: 15px 0 15px 0;
    }
    .result-box {
      border: 5px solid #eba12a;
      background: #323064;
      padding: 1%;
      margin-bottom: 1em;
      box-sizing: border-box;
      border-radius: 25px;
      line-height: 22px;
      size: 70;
    }
      .result-question {
        padding-top: 1em;
        font-weight: bold;
        font-size: 20px;
      }
      .darkerbg {
        background: #323064;
      }
      .word-break {
        word-break: break-all; 
      }
      .star-list {
        margin: 0;
        padding: 1em;
      }
        .star-list li {
          display: inline-block;
          text-align: center;
        }
          .result-star i {
            font-family: fontAwesome !important;
            font-size: 50px;
            color: #FEC260;
            opacity: 1;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0,0,0,0.5)
          }

footer {
  color: white;
  font-family: BigNoodleTiling;
  font-size: 1.5em;
}  
  .main-footer {
    position: fixed;
    bottom: 0.1em;
    right: 0.5em;
  }
  .help-footer {
    position: fixed;
    bottom: 0.1em;
    right: 0.5em;
  }
  .answer-footer {
    position: fixed;
    bottom: 0.1em;
    right: 0.5em;
  }
  .create-footer {
    position: fixed;
    bottom: 0.1em;
    right: 0.5em;
  }
  .result-footer {
    position: fixed;
    bottom: 0.1em;
    right: 0.5em;
  }