/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: BigNoodleTiling;
  src: url("../fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

* {
  background-color: #2891d7;
  font-family: Roboto-Thin, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Track */
::-webkit-scrollbar-track {
  background: #8ecae6;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

.icon {
  width: 358px;
  height: 128px;
}

.x-icon {
  width: 64px;
  height: 64px;
}

/* for rounded textfields */

.round {
  border-radius: 25px;
}

/*--------------------------------------------------------------
# main page
--------------------------------------------------------------*/

.main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.main-header {
  height: 10vh;
  z-index: 1;
}

.main-header-row {
  min-width: 100%;
  min-height: 100%;
}

.main-header-col {
  min-height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* button */

.createsurvey {
  height: 48px;
  padding: 6px 10px;
  background: #f9c74f;
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  border: 0;
  transition: all 0.3s;
}

.createsurvey:hover {
  background: #F8961E;
}

.icon-main {
  width: 358px;
  height: 128px;
  margin: 15px 0 15px 0;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomemsg h1 {
  margin: 15px 0 15px 0;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 56px;
}

/* code input form */

.main-form {
  margin: 15px 0 15px 0;
  padding: 6px 10px;
  overflow: hidden;
  background: #8ecae6;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 25px;
  border: 0;
}

.main-form input[type="number"] {
  width: 70%;
  height: 48px;
  float: left;
  background: #8ecae6;
  color:rgb(104, 104, 104);
  font-weight: bold;
  border-radius: 25px;
  border: 0;
}

.main-form input[type="number"]::placeholder {
  color:rgb(104, 104, 104);
}

.main-form input[type="number"]:focus {
  outline: 0;
}

/* hide input increment arrows */

.main-form input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.main-form input[type=number]::-webkit-inner-spin-button, .main-form [type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.main-form input[type="submit"] {
  width: 30%;
  height: 48px;
  float: right;
  background: #f9c74f;
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: 0;
  transition: all 0.3s;
}

.main-form input[type="submit"]:hover {
  background: #F8961E;
}

.whatsfeedo h2 {
  margin: 15px 0 15px 0;
  color: rgb(202, 202, 202);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.whatsfeedo {
  text-align: center;
}

.whatsfeedo h2 a {
  color: #FEC260;
  text-decoration: none;
  transition: all 0.3s;
}

.whatsfeedo h2 a:hover {
  color: #F8961E;
}


@media screen and (max-width: 350px) {
  .main-header-col {
    margin: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .icon-main {
    width: 111px;
    height: 128px;
    content: url(../img/feedo.png);
  }
}

/*--------------------------------------------------------------
# Notifications
--------------------------------------------------------------*/

.notification {
  min-height: 100vh;
}

.notification-header {
  min-height: 10%;
}

.notification-body {
  width: 100%;
  position: fixed;
  top: 128px;
  right: 0;
  bottom: 128px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-notification {
  width: 111px;
  height: 128px;
}

.notification-box {
  padding: 1% 0 1% 1%;
  background: #8ecae6;
  border: 3px solid transparent;
  border-radius: 25px;
}

.bigtext {
  display: flex;
  flex-direction: row;
}

.copy-button {
  font-size: 25px;
  border: 0;
  transition: all 0.3s;
}

.copy-button i {
  transition: all 0.3s;
}

.tooltip{
  padding: 6px 10px;
  z-index: -1;
  background: linear-gradient(#f9c74f,#eebb44);
  color: #a12568;
  border-radius: 10px;
  transition: opacity 0.4s, margin-left 0.4s;
}

.tooltip.show{
  margin-left: 210px;
  pointer-events: auto;
}

.copy-button i:hover {
  color: #FEC260;
}

.smalltext {
  margin: 15px 0 15px 0;
  color: rgb(202, 202, 202);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# create page
--------------------------------------------------------------*/

.create {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.create-header {
  min-height: 10vh;
}

.create-header-row {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: end;
}

.icon-create {
  width: 111px;
  height: 128px;
}

.create-header-col-3 {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.create-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.typequestionmsg h1 {
  margin: 15px 0 15px 0;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 56px;
}

.create-form {
  width: 100%;
  max-width: 684px;
}

.question-box {
  width: 100%;
  max-width: 684px;
  margin-top: 0.5em;
  padding: 13px;
  background: #8ecae6;
  box-sizing: border-box;
  color:rgb(255, 255, 255);
  font-weight: 500;
  font-size: 18px;
  border-radius: 25px;
  line-height: 22px;
  outline: 0;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.question-box:focus {
  border: 2px solid #f9c74f;
}

.question-box::placeholder {
  color: #2891d7;
}

.additionalquestion-box {
  width: 100%;
  max-width: 684px;
  margin-bottom: 0.5em;
  padding: 13px;
  background: #8ecae6;
  box-sizing: border-box;
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  outline: 0;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.3s;
}

.additionalquestion-box:focus {
  border: 2px solid #f9c74f;
}

.additionalquestion-box::placeholder {
  color: #2891d7;
}

.togglequestions {
  width: 100px;
  height: 48px;
  margin-right: 0.1em;
  padding: 6px 10px;
  background: #f9c74f;
  float: left;
  color: #a12568;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  transition: all 0.3s;
}

.togglequestions:hover {
  background: #F8961E;
}

.addquestion:hover {
  width: 100px;
  height: 48px;
  padding: 6px 10px;
  float: left;
  background: #F8961E;
  color: #a12568;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
}

.createsurvey2 {
  height: 48px;
  padding: 6px 10px;
  background: #f9c74f;
  float: right;
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
}

.createsurvey2:hover {
  height: 48px;
  padding: 6px 10px;
  background: #F8961E;
  float: right;
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
}

.x-icon-col {
  justify-content: end; /* needs to be in .css because cant override it in html class */
}

@media screen and (max-width: 767px) {
  .x-icon-col {
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .togglequestions {
    width: 100%;
    margin-bottom: 10px;
  }
  .createsurvey2 {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# help page
--------------------------------------------------------------*/

.help {
  min-height: 100%;
}

.help-header {
  min-height: 10%;
}

.icon-help {
  width: 111px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* x-button */

.backtomain a {
  font-weight: bold;
  text-decoration: none;
}

.help-body {
  text-align: center;
  position: absolute;
  bottom: 128px;
  left: 0;
  top: 128px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.help-text h1 {
  font-size: 36px;
  font-weight: bold;
}

.help-text h2 {
  font-size: 30px;
}

.help-text h3 {
  font-size: 12px;
}

/*--------------------------------------------------------------
# answer page
--------------------------------------------------------------*/

.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.answer-header {
  min-height: 10vh;
}

.answer-header-row {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
}

.answer-header-col-1 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.answer-header-col-3 {
  display: flex;
  align-items: center;
}


/* button */

.seeresult {
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  background: none;
  text-decoration: none;
  font-weight: bold;
  height: 48px;
  padding: 6px 10px;
  background: #f9c74f;
  transition: 0.3s;
  border-radius: 50px;
  border: 0;
}

.seeresult:hover {
  background: #F8961E;
}

.icon-answer {
  width: 111px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-body {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-heading h1 {
  font-size: 36px;
  font-weight: bold;
}

.answer-heading h2 {
  color: rgb(202, 202, 202);
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.answer-form {
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-right: 0;
  margin-left: 0;
}

.answer-box {
  max-width: 100%;
  border: 5px solid transparent;
  background: #8ecae6;
  padding: 1%;
  margin-right: 0;
  margin-bottom: 1em;
  box-sizing: border-box;
  border-radius: 25px;
}

.answer-question {
  color:rgb(104, 104, 104);
}

@media screen and (max-width: 767px) {
  .answer-header-col-1 {
    justify-content: center;
  }
}

/* stars */

.valuation {
  margin: 0;
  padding: 0;
  transform: rotateY(180deg);
  border-radius: 25px;
}

.valuation input {
  display: none;
}

.valuation label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
}

.valuation label:before {
  content: '\f005';
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #3e3e46;
}

.valuation label:after {
  content: '\f005';
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  position: absolute;
  top: 0;
  display: block;
  font-size: 50px;
  color: #f9c74f;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.valuation label:hover:after, .valuation label:hover~label:after, .valuation input:checked~label:after {
  opacity: 1;
}

.valuation-average-text {
  color:rgb(104, 104, 104);
}

.answer-submit {
  color: #a12568;
  font-size: 16px;
  font-weight: bold;
  background: none;
  padding: 6px 10px;
  background: #f9c74f;
  height: 48px;
  border-radius: 50px;
  border: 0;
  transition: 0.3s;
}

.answer-submit:hover {
  background: #F8961E;
}

/*--------------------------------------------------------------
# result page
--------------------------------------------------------------*/

.result {
  min-height: 100%;
}

.result-header {
  height: 10%;
}

.icon-result {
  width: 111px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-body {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-heading h1 {
  color: rgb(255, 255, 255);
  margin: 15px 0 15px 0;
  font-size: 48px;
  line-height: 56px;
}

.result-heading h2 {
  color: rgb(202, 202, 202);
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.result-row {
  display: flex;
  align-items: center;
  height: 300px;
  width: 70%;
  border: 5px solid transparent;
  background: #8ecae6;
  padding: 0 1% 0 1%;
  margin-bottom: 1em;
  box-sizing: border-box;
  border-radius: 25px;
  line-height: 22px;
}

.result-box {
  display: flex;
  max-height: 95%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.result-question {
  color:rgb(104, 104, 104);
  padding-top: 1em;
  font-weight: bold;
  font-size: 20px;
}

.submitamount {
  color:rgb(104, 104, 104);
  font-weight: bold;
}

.darkerbg {
  background: #8ecae6;
}

.word-break {
  word-break: normal;
}

.star-list {
  margin: 0;
  padding: 1em;
}

.star-list li {
  color:rgb(104, 104, 104);
  display: inline-block;
  text-align: center;
}

.result-star i {
  font-family: "Font Awesome 6 Free" !important;
  font-size: 50px;
  color: #f9c74f;
  opacity: 1;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.chart-box {
  display: flex;
  max-height: 95%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.myChart {
  max-height: 100%;
  width: 100%;
}

/* media querys for responsive deisgn */
@media screen and (max-width: 1250px) {
  .result-row {
    width: 85%;
  }
}

@media screen and (max-width: 950px) {
  .result-row {
    width: 85%;
  }
  .result-star i {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .result-row {
    width: 95%;
    height: 500px;
    overflow-x: hidden;
  }
  .result-box {
    height: 40%;
  }
  .chart-box {
    height: 60%;
  }
}

@media screen and (max-width: 550px) {
  .result-row {
    width: 95%;
    height: auto;
  }
  .result-box {
    height: 40%;
  }
  .chart-box {
    max-height: 60%;
  }
}

@media screen and (max-width: 350px) {
  .result-row {
    width: 95%;
  }
  .result-box {
    height: 40%;
  }
  .chart-box {
    max-height: 60%;
  }
  .result-star i {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
  background: transparent;
  color: white;
  font-family: BigNoodleTiling;
  font-size: 1.5em;
}
 
.main-footer {
  display: flex;
  justify-content: end;
  margin: 0 0.5% 0 0;
}

.create-footer {
  display: flex;
  justify-content: end;
  margin: 0 0.5% 0 0;
}

.help-footer {
  position: fixed;
  bottom: 0.1em;
  right: 0.5em;
}

.answer-footer {
  display: flex;
  justify-content: end;
  margin: 0 0.5% 0 0;
}

.result-footer {
  position: fixed;
  bottom: 0.1em;
  right: 0.5em;
}

.notification-footer {
  position: fixed;
  bottom: 0.1em;
  right: 0.5em;
}